[Unit]
Description=Calico Felix agent
After=syslog.target network.target

[Service]
EnvironmentFile=/etc/default/calico-felix
User=root
ExecStartPre=/bin/mkdir -p /var/run/calico
ExecStart=/usr/local/bin/calico-node -felix
KillMode=process
Restart=on-failure
LimitNOFILE=32000

[Install]
WantedBy=multi-user.target
